<!DOCTYPE html>
<html>
	<head>
                    
        <meta charset='utf-8'>
		<meta http-equiv='X-UA-Compatible' content='IE=edge'>
		<title>Acceuil projet XML</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'> 
		<link rel='stylesheet' type='text/css' media='screen' href='main.css'> 
	    <style>
			.center{
				 text-align: center;
				    }
			.img{
				width: 30%;
			    height: 50%;
				    } 
			.titre{
				margin-top: 10%; 
				 } 
		</style>
		<script src='main.js'></script>
		</head> 
			<body class=\"center\">
				<h1 class=\"titre\">Projet XML</h1>
				<img class=\"img\" src=\"img.jpg\" /><br><br> 
				<div ><strong>Version:</strong> V1.0</div>
				<div ><strong>Auteurs:</strong>Mina HOURE et Mohamed HSAINA</div> 
		    </body> 
</html>